
   

        <!-- HOME PAGE -->
        <div id="homepage" class=""> 
            <div class="row strip">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                    <a href="start.html"><%= image_tag("arrow-left.png", class: "arrow center-block") %></a>
                </div>
                <div class="col-md-1 lit">
                    <%= image_tag("relax.png", class: "icon green") %>
                </div>

                <div class="col-md-1">
                    <%= image_tag("check.png", class: "icon orange") %>
                </div>

                <div class="col-md-1">
                    <%= image_tag("character.png", class: "icon purple") %>
                </div>

                <div class="col-md-1">
                    <%= image_tag("strong.png", class: "icon blue") %>
                </div>

                <div class="col-md-1">
                    <%= image_tag("learn.png", class: "icon pink") %>
                </div>

                <div class="col-md-1">
                    <%= image_tag("done.png", class: "icon darkpink") %>
                </div>

                <div class="col-md-1">
                    <a href="login"><%= image_tag("arrow-right.png", class: "arrow center-block") %></a>
                </div>

                <div class="col-md-2"></div>
            </div>
            
            <div class="row filler"></div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p class="title motto green-text">Chill Out</p>
                    <p class="desc">Breathe, breathe, breathe, breathe, breathe, breathe.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>


