
        <!-- Navigation Bar -->
        <div class="row strip">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                    <a href="chill"><%= image_tag("arrow-left.png", class: "arrow center-block") %></a>
                </div>
                <div class="col-md-1">
                    <%= image_tag("relax.png", class: "icon green") %>
                </div>
                <div class="col-md-1 lit">
                    <%= image_tag("check.png", class: "icon orange") %>
                </div>
                <div class="col-md-1">
                    <%= image_tag("character.png", class: "icon purple") %>
                </div>
                <div class="col-md-1">
                    <%= image_tag("strong.png", class: "icon blue") %>
                </div>
                <div class="col-md-1">
                    <%= image_tag("learn.png", class: "icon pink") %>
                </div>
                <div class="col-md-1">
                    <%= image_tag("done.png", class: "icon darkpink") %>
                </div>
                <div class="col-md-1">
                    <a href="step3.1.html.erb"><%= image_tag("arrow-right.png", class: "arrow center-block") %></a>
                </div>
                <div class="col-md-2"></div>
            </div>
        
        
        <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p class="title motto orange-text">Check In</p>
                    <p class="desc">You are sitting in the recovery chair, which means you were disruptive in class. Now, you need to take responsibility.</p>
                </div>
                <div class="col-md-2"></div>
        </div>
        <div class="row filler"></div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                
                <p class="prompt">Hello my name is <input class="textbox"></input></p>
                <p class="prompt inline">I am here because</p>
                <select class="rounded">
                    <option class="drop" value="spoke">I spoke when I was supposed to be quiet.</option>
                    <option class="drop" value="language">I used inappropriate language.</option>
                    <option class="drop" value="mean">I was mean to a classmate.</option>
                    <option class="drop" value="disruptive">I was disruptive to the class.</option>
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>

