
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<html>

<head>
	<title>TimeIn</title>

        
    <!-- Bootstrap -->
        <link href='http://fonts.googleapis.com/css?family=Dosis:400,500,700|Shadows+Into+Light|Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore|Yesteryear|Mr+Dafoe|Homemade+Apple|Rock+Salt' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Unkempt|Frijole|Gloria+Hallelujah|Architects+Daughter|Amatic+SC|Bangers' rel='stylesheet' type='text/css'>
        <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

  	<%= stylesheet_link_tag    'application', media: 'all'%>
  	<%= stylesheet_link_tag    'main', media: 'all'%>
  	<%= stylesheet_link_tag    'bootstrap.min', media: 'all'%>
  	

  	<%= javascript_include_tag 'application'%>
  	<%= csrf_meta_tags %>
</head>

<body>

	<%= yield %>

</body>

</html>
